@font-face {
  font-family: "PT Sans Narrow";
  src: local("PT Sans Narrow Bold"),
  local("PTSansNarrow-Bold"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: local("PT Sans Narrow"),
  local("PTSansNarrow"),
  url("../fonts/opensansbold.woff2") format("woff2"),
  url("../fonts/opensansbold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-family: "opensans", "Arial", sans-serif;
  background-color: #ededed;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.header-main {
  position: relative;
  padding-bottom: 30px;
}

.header-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #262626;
}

.header-main__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  margin: 30px auto 0;
  padding: 0;
  list-style-type: none;
}

.photo-works__items {
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.header-main__item {
  margin-bottom: 20px;
}

.header-main__item:last-child {
  margin-bottom: 0;
}

.header-main__link {
  padding: 5px 0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #262626;
}

.header-main__link:not([href]) {
  border-bottom: 2px solid #000082;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
}

.works__last-work {
  display: block;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #262626;
}

.works__last-work span {
  display: block;
}

.works__hint {
  position: relative;
  padding-left: 35px;
  margin: 60px 0 100px;
  font-size: 20px;
  line-height: 24px;
}

.works__hint::before {
  content: "";
  position: absolute;
  top: -44px;
  left: 95px;
  display: block;
  width: 72px;
  height: 29px;
  transform: rotate(-30deg);
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: -21px -13px;
}

.works__hint::after {
  content: "";
  position: absolute;
  top: 57px;
  left: 75px;
  display: block;
  width: 72px;
  height: 29px;
  transform: rotate(60deg);
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: -21px -13px;
}

.works__items {
  text-align: center;
  padding: 0;
  padding-bottom: 180px;
  list-style-type: none;
}

.works__item,
.photo-works__item {
  margin-bottom: 20px;
  font-size: 0;
}

.works__img:hover {
  transition: 0.2s ease;
  box-shadow: 0 5px 25px 0 #262626;
}

.works__img:active {
  transition: 0.2s ease;
  box-shadow: 0 2px 10px 0 #262626;
}

.works__title,
.photo-works__title,
.about-me__title {
  margin-top: 55px;
}

.works__title {
  margin-bottom: 25px;
}

.photo-works {
  padding-bottom: 140px;
}

.photo-works__items {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.photo-works__item:last-child {
  margin-bottom: 0;
}

.photo-works__items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #262626;
}

.photo-works__items:last-child::after {
  content: "";
  display: none;
}

.about-me__user-info,
.skills__info {
  padding: 0 23px;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
  color: #262626;
}

.about-me__user-info span {
  display: block;
}

.about-me__user-link {
  font-weight: 700;
  color: #000082;
}

.works__img,
.photo-works__img {
  width: 320px;
  height: auto;
}

.skills {
  padding-bottom: 150px;
}

.footer-main {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 35px 0;
}

.footer-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #262626;
}

.footer-main__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  padding: 0;
}

.footer-main__email {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  color: #262626;
}

.footer-main__item {
  list-style-type: none;
}

.header-main__link:hover,
.works__last-work:hover,
.footer-main__email:hover,
.footer-main__link:hover,
.about-me__user-link:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}

.header-main__link:active,
.works__last-work:active,
.footer-main__email:active,
.footer-main__link img:active,
.about-me__user-link:active {
  opacity: 0.2;
  transition: 0.3s ease;
}

.header-main__link:not([href]):hover,
.header-main__link:not([href]):active {
  opacity: 1;
}

@media (min-width: 768px) {
  .title {
    margin-top: 50px;
    font-size: 30px;
    line-height: 36px;
  }

  .header-main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header-main__items {
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
  }

  .header-main__item {
    margin-right: 150px;
  }

  .header-main__item:last-child {
    margin-right: 0;
  }

  .header-main__link {
    font-size: 17px;
    line-height: 20px;
  }

  .works,
  .about-me,
  .skills,
  .photo-works {
    max-width: 1200px;
    margin: 0 auto;
  }

  .works__last-work {
    margin-left: 40px;
    text-align: left;
  }

  .works__hint {
    padding-left: 45px;
    margin: 125px 0 140px;
    font-size: 25px;
    line-height: 30px;
  }

  .works__hint::before {
    content: "";
    top: -73px;
    left: 63px;
    width: 100px;
    height: 48px;
    transform: rotate(-63deg);
    background-size: 200px;
  }

  .works__hint::after {
    content: "";
    width: 100px;
    height: 48px;
    transform: rotate(60deg);
    background-size: 200px;
  }

  .works__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 120px;
  }

  .works__item {
    width: 40%;
    margin-bottom: 75px;
  }

  .photo-works__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
  }

  .photo-works__items:last-child {
    margin-bottom: 0;
  }

  .photo-works__item {
    width: 85%;
    margin: 0 auto 55px;
  }

  .works__img,
  .photo-works__img {
    width: 100%;
    height: auto;
  }

  .about-me__user-info,
  .skills__info {
    padding: 0 40px;
    font-size: 18px;
    line-height: 30px;
  }

  .about-me__title,
  .skills__title,
  .works__title,
  .photo-works__title {
    padding-left: 40px;
    text-align: left;
  }

  .footer-main__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-main__items {
    margin: 0;
  }

  .footer-main__email {
    margin: 0;
    font-size: 18px;
  }
}
